/* footer.css */
footer {
    background-color: #FAFAFA;
    color: #fff;
    padding: 2.5rem 1.25rem;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__left {
    text-align: left;
}

.footer__left img {
    width: 9.375rem;
    margin-bottom: 0.625rem;
}

.footer__left p {
    font-size: 0.875rem;
    color: #080305;
}

.footer__right .footer__link {
    color: #080305;
    margin-left: 1.25rem;
    text-decoration: none;
    font-size: 0.875rem;
}

.footer__right .footer__link:hover {
    color: #aaa;
}
