/* info.css */
.info {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.info h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
}

.slider {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow-x: auto;
}

.feature {
    flex: 0 0 30%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #ccc;
}

.feature.active {
    border-top: 4px solid #3D1EDD;
}

.feature h3 {
    font-size: 1.25rem;
    color: #080305;
    margin-bottom: 10px;
    text-align: center;
}

.feature p {
    font-size: 0.95rem;
    color: #666;
    text-align: center;
}